<!DOCTYPE html>
<html>
	<head>
    	<title>Dashboard</title>
    	<!--All CSS are Included Here-->
    	<% include ../views/head %>
    </head>
	<body>
		<!-- Section-1 Contains Main Header Of Dashboard-->
		<section id="section_navbar">
			<%  include ../views/navbar %>	
		</section>
		<section id="section_menu">
			<%  include ../views/menu %>
		</section>
	<!--Section-2 Contains Menu for Page-->
	
  	<!--All Scripts are Included Here-->
		<footer>
				<% include ../views/footer %>
		</footer>
		<script type="text/javascript">
			// var ajax_call = function() {
			//   alert(" yes called ");
			// };

			// var interval = 500 * 60 * 1; // where X is your every X minutes

			// setInterval(ajax_call, 500);
		</script>
	</body>
</html>